@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background;
}

:root {
  --background: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 92%);
}

.dark {
  --background: rgb(0, 0, 0);
  --secondary: hsl(0, 0%, 8%);
}

